h1{
    border: 1px dashed black;
    text-align: center;
    padding: 5px;
    background-color: whitesmoke;
}

div {
    background-color: darksalmon;
    border-width: 10px 5px;
    border-color: darkviolet;
    border-style: solid;
    padding: 5px;
    margin:  6px 3px 10px 8px;
    
}